@tailwind base;
@tailwind components;
@tailwind utilities;

/* Add custom font */
@font-face {
    font-family: 'Pattanakaran';
    src: url('/fonts/Pattanakaran-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* Apply the font globally */
body {
    font-family: 'Pattanakaran', sans-serif;
}

html, body {
    margin: 0;
    padding: 0;
    overflow-x: hidden; /* Prevent horizontal scrolling */
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit; /* Ensure consistent box-sizing */
}
